services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: backend
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - DATABASE_URL=${DATABASE_URL}
      - PORT=3012
      - ISSUER_BASE_URL=${ISSUER_BASE_URL}
      - CLIENT_ID=${CLIENT_ID}
      - BASE_URL=http://localhost:3012
      - RABBITMQ_QUEUE=basket_queue
      - ECOMMERS_EXCHANGE=ecommerce
      - ALLOWED_ORIGIN=http://localhost:3000
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - AUDIENCE=${AUDIENCE}
    ports:
      - "3012:3012"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

volumes:
  rabbitmq_data:
    name: rabbitmq_data

networks:
  app-network:
    driver: bridge
